body {
    overflow-x: hidden;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: white;
    
}
.box-a{
    width: 48.5%;
    height:550px;
    padding:0%;
    margin: 0.5%;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
 
  
  .link{
    text-decoration: none;

  }
   p {
    padding-bottom: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    font-size: 21px;
    color: black;
    font-weight: 350;
  
  }
  h1, h2, p{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    text-align: center;
    
  }
  h1.watch{
    font-size: 28px;
    font-weight: 500;
  }

  h2{
    
    font-size: 14px;
    color: orangered;
    font-weight: 400;


  }
  h1{
    color: black;
    margin-top: 8%;
    margin-bottom: 1%;
    font-size: 35px;
    font-weight: 500;

  }
  
  
  a:link { 
    text-decoration: none; 
  } 
  .link{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 350;
    color: #06c;
    text-align: center;
    padding: 2%;

  }
  a#color{
    color: #06c;
    padding-right: 5%;
  }
  a{
    color: #06c;
    
  }
  #ipods{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
  }
  
  #white{
    color: white;
    font-weight: 400;
  }
 
  #con-a{
    background-color: #fbfbfd;
  }
  #con-b{
    background-color: #fbfbfd;
  }
  #con-c{
    background-color: #fbfbfd
  }
  #con-d{
    background-color: black;
  }
  img.img{
    width: 45%;
   
  
   
  }
  #apple-watch{
    width: 100%;
    padding-left: 0%;
    position: relative;
  }
  #ipad{
    width:40%;
    padding-top: 3%;
    padding-left: 32%;
  }
  #macbook{
    width: 67%;
    padding-left: 17%;
    padding-right: 5%;
    padding-top: 7%;
  }
  
  @media (max-width: 735px) {
    .box-a{
        width: 100%;
     
        
    }
    .img{
      width: 50%;
     padding-left: 20%;
     padding-top: 10%;
    }
     
    .container {
        display: flex;
        flex-direction: column;
        
      }
      body {
        overflow-x:hidden;
    
        }
        html{
          overflow-x:hidden;
        }
        .img{
          padding-left: 30%;
          padding-top: 15%;
          
         }
         div#con-a.box-a{
          margin: 0%;
        }
        div#con-b.box-a{
          margin: 0%;
        }
        div#con-c.box-a{
          margin: 0%;
        }
        div#con-d.box-a{
          margin: 0%;
        }

        
      } 
      @media only screen and (max-width: 920px) and (min-width: 735px){
        .img{
          width: 20%;
          padding-left: 35%;
          padding-top: 1%;
          
         }
        
         
        .box-a{
            width: 100%;
            height: 500px;
            
        }
        .container {
          display: flex;
    flex-direction: row;
    justify-content: center;
          
        }

      }

      
      
      

