body {
    overflow-x: hidden;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: white;
    
}
.box-a{
    width: 48.5%;
    height:600px;
    padding:0%;
    margin: 0.5%;
   
  }
  
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
 
  
  .link{
    text-decoration: none;

  }
   p {
    padding-bottom: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    font-size: 21px;
    color: #1d1d1f;
    font-weight: 400;
    font-style: normal;
    
    
   
  
  }
  h1, h2, p{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 1.47059;
    
  }
  h1.watch{
    font-size: 28px;
    font-weight: 500;
  }

  h2{
    
    font-size: 14px;
    color: orangered;
    font-weight: 400;


  }
  h1{
    color: black;
    margin-top: 8%;
    margin-bottom: 1%;
    font-size: 37px;
    font-weight: 500;

  }
  
  
  a:link { 
    text-decoration: none; 
  } 
  .link{
    font-family: -apple-system-tall-body, BlinkMacSystemFont, sans-serif;
    font-size: 17px;
    font-style: normal;
    text-align: center;
    padding: 2%;
    font-weight: normal;
    letter-spacing: inherit;
   
  }
  a#color{
    color:#0066CC;
    padding-right: 5%;
  }
  a{
    color:#0066CC;
    
  }
  #ipods{
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
  }
  
  #white{
    color: white;
    font-weight: 400;
  }
 
  #con-a{
    background-color: #fbfbfd;
  }
  #con-b{
    background-color: #fbfbfd;
  }
  #con-c{
    background-color: #fbfbfd
  }
  #con-d{
    background-color: black;
  }
  
  #apple-watch{
    width: 100%;
    padding-left: 0%;
    padding-top: 5%;
   
  }
  #ipad{
    width:44%;
    padding-top: 1%;
    padding-left: 30%;
  }
  #macbook{
    width: 65%;
    padding-left: 17%;
    padding-right: 5%;
    padding-top: 9%;
  }
  
  @media (max-width: 400px) and (min-width: 320px) {
    .box-a{
        width: 100%;
        border-bottom: 15px solid white;
        height: 500px;
       
        
    }
  

    .link {
      font-size: 16px;
    }

    h1.watch {
      font-size: 25px;
      font-weight: 550;
    }

    img#apple-watch.img{
      width: 570px;
       right: 25%;
      padding-top: 5%;
      position: relative;
    
      
     
      
      
    }
    img#ipad.img{
      width: 60%;
      padding-top: 3%;
      padding-right: 5%;
      padding-left: 15%;
    }
    #macbook{
      padding-left: 16%;
      padding-top: 14%;
    }
    
    
    img#ipods.img{
      width: 80%;
      margin-top: 3%;
      margin-left: 10%;
      padding-left: 0%;
      
      
    }

    p{
      font-size: 18px;
    }
    h2{
      font-size: 10px;
      font-weight: 500;
      padding-top: 0%;
    }
    h1{
      font-size: 30px;
    }
    div#con-a.box-a{
    bottom: 10%;
    }
    .img{
     width: 50%;
     padding-left: 20%;
     padding-top: 10%;
    }
     
    .container {
        display: flex;
        flex-direction: column;
        
      }
      body {
        overflow-x:hidden;
    
        }
        html{
          overflow-x:hidden;
        }
       
         div#con-a.box-a{
          margin: 0%;
        }
        div#con-b.box-a{
          margin: 0%;
        }
        div#con-c.box-a{
          margin: 0%;
        }
        div#con-d.box-a{
          margin: 0%;
        }
      }
      @media (max-width: 430px) and (min-width: 401px) {
        .box-a{
            width: 100%;
            border-bottom: 10px solid white;
            height: 430px;
           
            
        }
        img#ipad.img{
          width: 55%;
          padding-top: 3%;
          padding-right: 5%;
          padding-left: 15%;
        }
      }
      @media (max-width: 520px) and (min-width: 431px) {
        .box-a{
            width: 100%;
            border-bottom: 10px solid white;
            height: 480px;
           
            
        }
        img#ipad.img{
          width: 47%;
          padding-top: 3%;
          padding-right: 5%;
          padding-left: 25%;
        }
        img#apple-watch.img{

          width: 570px;
          right: 25%;
         padding-top: 5%;
         position: relative;
        }

      }
      @media only screen and (max-width: 630px) and (min-width: 521px){
        .box-a{
          width: 100%;
          height: 550px;
          
      }
      .container {
         display: flex;
        flex-direction: row;
        justify-content: center;
        
      }
      img#apple-watch.img{

        width: 100%;
        right: 20%;
        
      }

      img#ipods.img{
        width: 80%;
        margin-top: 5%;
        margin-left: 10%;
        padding-left: 0%;
        
        
      }
    }
    

      @media only screen and (max-width: 719px) and (min-width: 631px){
        .box-a{
          width: 100%;
          height: 680px;
          
      }
      .container {
         display: flex;
        flex-direction: row;
        justify-content: center;
        
      }
      img#apple-watch.img{

        width: 100%;
        
      }
        img#ipods.img{
          padding-top: 10%;
        }
        
        img#ipad.img{

          padding-top: 10%;
         
        }

      }

      
     
      @media only screen and (max-width: 900px) and (min-width: 720px){
        
        
         
        .box-a{
            width: 100%;
            height: 700px;
            
        }
        .container {
           display: flex;
          flex-direction: row;
          justify-content: center;
          
        }
        img#apple-watch.img{

          width: 100%;
          
          position: relative;
        
        }

      }
      @media only screen and (max-width: 1000px) and (min-width: 901px){
        .box-a{
          width: 48.5%;
          height:520px;
          padding:0%;
          margin: 0.5%;
         
        }
        img#ipad.img{
         width:55% ;
         padding-left: 20%;
          padding-top: 7%;
         
        }


      }
      @media only screen and (max-width: 1150px) and (min-width: 1001px){
        .box-a{
          width: 48.5%;
          height:600px;
          padding:0%;
          margin: 0.5%;
         
        }
        img#ipad.img{
         width:58% ;
         padding-left: 20%;
         padding-top: 5%;
         
        }
        img#ipods.img{
          width: 78%;
          margin-top: 8%;
          margin-left: 10%;
          padding-left: 0%;
          
          
        }


      }
     
     
     

      
     
     
      
      
      

